# Example network values

# External network {

pas_external_ip_pool_cidr       = "10.0.0.0/23"
pks_external_ip_pool_cidr       = "10.0.0.0/23"

pas_external_ip_pool_ranges     = "10.0.1.35-10.0.1.45"
nsxt_lb_web_virtual_server_ip_address = "10.0.1.31"
nsxt_lb_ssh_virtual_server_ip_address = "10.0.1.31"
nsxt_lb_tcp_virtual_server_ip_address = "10.0.1.32"

pks_api_external_ip             = "10.0.1.33"
pks_external_ip_pool_range      = "10.0.1.46-10.0.1.55"

nat_gateway_ip                  = "10.0.1.25"
ops_manager_external_ip         = "10.0.1.30"

# }


# Internal networks {

vm_private_networks_cidr        = "192.168.0.0/16"
infra_subnet_cidr               = "192.168.1.1/26" // lots of wasted space here
deployment_subnet_cidr          = "192.168.2.1/24"
# TODO services_subnet_cidr     = "192.168.14.1/23"

pks_api_private_ip              = "192.168.1.11"

pks_pods_ip_block_cidr          = "172.16.64.0/19"
pks_nodes_ip_block_cidr         = "192.168.64.0/19"

# }